<div class="container-header block">
  <div class="inline-block">
    <span class="icon icon-rocket"></span>
    <span class=header-title>Ruby Debugger</span>
  </div>
  <div class="inline-block btn-group">
    <button class="btn status" rv-button-status="context.state.current" rv-on-click="onClickStatus"></button>
    <button class="btn resume" rv-button-debugger-action="context.state.current" rv-on-click="onClickPlay">Resume</button>
    <button class="btn step-in" rv-button-debugger-action="context.state.current">Step In</button>
    <button class="btn step-out" rv-button-debugger-action="context.state.current">Step Out</button>
    <button class="btn step-oover" rv-button-debugger-action="context.state.current">Step Over</button>
  </div>
</div>
<div class="container-data">
  <atom-panel class="top padded container-stack">
    <div class="inset-panel">
      <div class="panel-heading">Call Stack</div>
      <div class="panel-body"></div>
    </div>
  </atom-panel>
  <atom-panel class="top padded container-vars">
    <div class="inset-panel">
      <div class="panel-heading">Variables</div>
      <div class="panel-body"></div>
    </div>
  </atom-panel>
  <atom-panel class="top padded container-breakpoints">
    <div class="inset-panel">
      <div class="panel-heading">Breakpoints</div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-item padded" rv-each-breakpoint="context.breakpoints">{breakpoint.location}</li>
        </ul>
      </div>
    </div>
  </atom-panel>
</div>
