<div class="container-header">
  <div class="inline-block">
    <span class="icon icon-rocket"></span>
    <span class=header-title>Ruby Debugger</span>
  </div>
  <div class="inline-block btn-toolbar">
    <div class="btn-group">
      <button class="btn status" rv-button-status="context.state.current" rv-on-click="onClickStatus"></button>
    </div>
    <div class="btn-group">
      <button class="btn resume" rv-button-debugger-action="context.state.current" rv-on-click="onClickPlay">Resume</button>
      <button class="btn step-in" rv-on-click="onClickDeleteBreakpoint">Step In</button>
      <button class="btn step-out" rv-button-debugger-action="context.state.current">Step Out</button>
      <button class="btn step-over" rv-button-debugger-action="context.state.current">Step Over</button>
    </div>
  </div>
</div>
<div class="container-data">
  <atom-panel class="top padded container-stack">
    <div class="inset-panel">
      <div class="panel-heading">Call Stack</div>
      <div class="panel-body"></div>
    </div>
  </atom-panel>
  <atom-panel class="top padded container-vars">
    <div class="inset-panel">
      <div class="panel-heading">Variables</div>
      <div class="panel-body"></div>
    </div>
  </atom-panel>
  <atom-panel class="top padded container-breakpoints">
    <div class="inset-panel">
      <div class="panel-heading">Breakpoints</div>
      <div class="panel-body">
        <ul class="list-group padded">
          <li class="list-item breakpoint-item" rv-each-breakpoint="context.breakpoints">
            <span class="breakpoint-text">{breakpoint.location}</span>
            <span class="icon icon-trashcan" rv-on-click="onClickDeleteBreakpoint"></span>
          </li>
        </ul>
      </div>
    </div>
  </atom-panel>
</div>
