<div class="container-header block">
  <div class="inline-block">
    <span class="icon icon-rocket"></span>
    <span class=header-title>Ruby Debugger</span>
  </div>
  <div class="inline-block btn-group">
    <button class="btn connect" rv-on-click="onClickConnect">
      { textConnectButton }
    </button>
  </div>
</div>
<div class="container-data">
  <atom-panel class="top padded container-frames">
    <div class="inset-panel">
      <div class="panel-heading">Frames</div>
      <div class="panel-body"></div>
    </div>
  </atom-panel>
  <atom-panel class="top padded container-vars">
    <div class="inset-panel">
      <div class="panel-heading">Variables</div>
      <div class="panel-body"></div>
    </div>
  </atom-panel>
</div>
